
@font-face {
  font-family: 'PFDinDisplayPro-Bold';
  src: url('PFDinDisplayPro-Bold.eot?#iefix') format('embedded-opentype'),  url('PFDinDisplayPro-Bold.woff') format('woff'), url('PFDinDisplayPro-Bold.ttf')  format('truetype'), url('PFDinDisplayPro-Bold.svg#PFDinDisplayPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
