
            <div id="sync1" class="owl-carousel owl-theme hidden-xs">
                <div class="item">
                    <img src="assets/img/r1600x520_1.jpg" alt="alt">
                </div>
                <div class="item">
                    <img src="assets/img/r1600x520_2.jpg" alt="alt">
                </div>
                <div class="item">
                    <img src="assets/img/r1600x520_3.jpg" alt="alt">
                </div>
                <div class="item">
                    <img src="assets/img/r1600x520_4.jpg" alt="alt">
                </div>
                <div class="item">
                    <img src="assets/img/r1600x520_5.jpg" alt="alt">
                </div>
                <div class="item">
                    <img src="assets/img/r1600x520_6.jpg" alt="alt">
                </div>
                <div class="item">
                    <img src="assets/img/r1600x520_7.jpg" alt="alt">
                </div>
                <div class="item">
                    <img src="assets/img/r1600x520_8.jpg" alt="alt">
                </div>
                <div class="item">
                    <img src="assets/img/r1600x520_9.jpg" alt="alt">
                </div>
                <div class="item">
                    <img src="assets/img/r1600x520_10.jpg" alt="alt">
                </div>
                <div class="item">
                    <img src="assets/img/r1600x520_11.jpg" alt="alt">
                </div>
                <div class="item">
                    <img src="assets/img/r1600x520_12.jpg" alt="alt">
                </div>
                <div class="item">
                    <img src="assets/img/r1600x520_13.jpg" alt="alt">
                </div>
                <div class="item">
                    <img src="assets/img/r1600x520_14.jpg" alt="alt">
                </div>
                <div class="item">
                    <img src="assets/img/r1600x520_15.jpg" alt="alt">
                </div>
                <div class="item">
                    <img src="assets/img/r1600x520_16.jpg" alt="alt">
                </div>
                <div class="item">
                    <img src="assets/img/r1600x520_17.jpg" alt="alt">
                </div>
                <div class="item">
                    <img src="assets/img/r1600x520_18.jpg" alt="alt">
                </div>
                <div class="item">
                    <img src="assets/img/r1600x520_19.jpg" alt="alt">
                </div>
                <div class="item">
                    <img src="assets/img/r1600x520_20.jpg" alt="alt">
                </div>
                <div class="item">
                    <img src="assets/img/r1600x520_21.jpg" alt="alt">
                </div>
                <div class="item">
                    <img src="assets/img/r1600x520_22.jpg " alt="alt ">
                </div>
            </div>

