<div class="films_slider">
    <div class="container">
        <div class="row carousel_premiere">
            <div class="col-md-12 premiere_c">
                <h3>Фильмы</h3>
            </div>
        </div>
    </div>
    <!-- Carusel-3 -->
    <div class="container personal_top">
        <div class="slider_container_2">
            <div id="carusel_3" class="owl-carousel owl-theme personal_owl_3 personal_c_film">
<!-- Big Story -->
                <div class="marime  big_story">
                    <a href="#" class="over">
                    <span>TS</span>
                        <div class="premiere_overlay">
                            <div class="watch"><i class="fa fa-play" aria-hidden="true"></i></div>
                        </div><img src="assets/img/films_470x270.jpg" alt="alt"></a>
                    <a href="#" class="title_premiere">СПАРК. Герой Вселенной</a>
                    <br>
                    <small>2017, Канада, Комедии</small>
                </div>
<!-- Big Story -->

<!-- smoll Story colums -->
<div class="films_colums">
    <div class="pear">
        <div class="marime">
            <a href="#" class="over">
                <span>TS</span>
                <div class="premiere_overlay">
                    <div class="watch"><i class="fa fa-play" aria-hidden="true"></i></div>
                </div><img src="assets/img/img_1.jpg" alt="alt"></a>
                <a href="#" class="title_premiere">СПАРК. Герой Вселенной</a>
                <br>
                <small>2017, Канада, Комедии</small>
            </div>
            <div class="marime">
                <a href="#" class="over">
                    <span>TS</span>
                    <div class="premiere_overlay">
                        <div class="watch"><i class="fa fa-play" aria-hidden="true"></i></div>
                    </div><img src="assets/img/films_215x120_2.jpg" alt="alt"></a>
                    <a href="#" class="title_premiere">СПАРК. Герой Вселенной</a>
                    <br>
                    <small>2017, Канада, Комедии</small>
                </div>
            </div>

            <div class="pear_2">
                <div class="marime">
                    <a href="#" class="over">
                        <span>TS</span>
                        <div class="premiere_overlay">
                            <div class="watch"><i class="fa fa-play" aria-hidden="true"></i></div>
                        </div><img src="assets/img/films_215x120_12.jpg" alt="alt"></a>
                        <a href="#" class="title_premiere">СПАРК. Герой Вселенной</a>
                        <br>
                        <small>2017, Канада, Комедии</small>
                    </div>
                    <div class="marime">
                        <a href="#" class="over">
                            <span>TS</span>
                            <div class="premiere_overlay">
                                <div class="watch"><i class="fa fa-play" aria-hidden="true"></i></div>
                            </div><img src="assets/img/films_215x120_11.jpg" alt="alt"></a>
                            <a href="#" class="title_premiere">СПАРК. Герой Вселенной</a>
                            <br>
                            <small>2017, Канада, Комедии</small>
                        </div>
                    </div>
                </div>

<!-- smoll Story colums -->
<!-- smoll Story colums -->
<div class="films_colums">
    <div class="pear">
        <div class="marime">
            <a href="#" class="over">
                <span>TS</span>
                <div class="premiere_overlay">
                    <div class="watch"><i class="fa fa-play" aria-hidden="true"></i></div>
                </div><img src="assets/img/films_215x120_10.jpg" alt="alt"></a>
                <a href="#" class="title_premiere">СПАРК. Герой Вселенной</a>
                <br>
                <small>2017, Канада, Комедии</small>
            </div>
            <div class="marime">
                <a href="#" class="over">
                    <span>TS</span>
                    <div class="premiere_overlay">
                        <div class="watch"><i class="fa fa-play" aria-hidden="true"></i></div>
                    </div><img src="assets/img/films_215x120_6.jpg" alt="alt"></a>
                    <a href="#" class="title_premiere">СПАРК. Герой Вселенной</a>
                    <br>
                    <small>2017, Канада, Комедии</small>
                </div>
            </div>
            
            <div class="pear_2">
                <div class="marime">
                    <a href="#" class="over">
                        <span>TS</span>
                        <div class="premiere_overlay">
                            <div class="watch"><i class="fa fa-play" aria-hidden="true"></i></div>
                        </div><img src="assets/img/films_215x120_7.jpg" alt="alt"></a>
                        <a href="#" class="title_premiere">СПАРК. Герой Вселенной</a>
                        <br>
                        <small>2017, Канада, Комедии</small>
                    </div>
                    <div class="marime">
                        <a href="#" class="over">
                            <span>TS</span>
                            <div class="premiere_overlay">
                                <div class="watch"><i class="fa fa-play" aria-hidden="true"></i></div>
                            </div><img src="assets/img/films_215x120_8.jpg" alt="alt"></a>
                            <a href="#" class="title_premiere">СПАРК. Герой Вселенной</a>
                            <br>
                            <small>2017, Канада, Комедии</small>
                        </div>
                    </div>
                </div>

<!-- smoll Story colums -->
            </div>
        </div>
    </div>