<!--Footer-->
<footer class="page-footer fdarck center-on-small-only">
    <!--Footer Links-->
    <div class="container">
        <div class="row">
            <!--First column-->
            <!--Second column-->
            <div class="col-md-2 col-sm-2 foter_col_menu">
                <h5 class="title">На устройствах</h5>
                <ul>
                    <li><a href="#!">Мобильные устройства</a></li>
                    <li><a href="#!">Телевизоры</a></li>
                    <li><a href="#!">Медиаплееры</a></li>
                    <li><a href="#!">На компьютере</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-2 foter_col_menu">
                <h5 class="title">Пользователю</h5>
                <ul>
                    <li><a href="#!">Бонусы и подарки</a></li>
                    <li><a href="#!">Новости компании</a></li>
                    <li><a href="#!">Сотрудничество</a></li>
                    <li><a href="#!">О нас</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-2 foter_col_menu hidden-xs">
                <h5 class="title">&nbsp;</h5>
                <ul>
                    <li><a href="#!">Соглашение</a></li>
                    <li><a href="#!">Контакты</a></li>
                    <li><a href="#!">Новости</a></li>
                </ul>
            </div>
            <div class="col-md-6 foter_col_menu text-right">
                <h5 class="title">мы в социальных сетях</h5>
                
                <ul class="social-icons icon-circle icon-rotate list-unstyled list-inline">
                    <li> <a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-vk"></i></a> </li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a> </li>
                    <li> <a href="#"><i class="fa fa-odnoklassniki"></i></a> </li>
                    <li> <a href="#"><i class="fa fa-instagram"></i></a> </li>
                    <li> <a href="#"><i class="fa fa-youtube"></i></a> </li>
                </ul>
            </div>
            <!--/.First column-->
            <!--/.Second column-->
        </div>
    </div>
    <!--/.Footer Links-->
    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container">
            <ul class="footer_menu hidden-xs">
                <li class="logo_footer"><a href="/">KINOMORF</a></li>
                <li><a href="#!">Фильмы</a></li>
                <li><a href="#!">Сериалы</a></li>
                <li><a href="#!">Мультфильмы</a></li>
            </ul>
            <div class="copy">2017 © KINOMORF Все права защищены <a href="#"> Сообщить об ошибке </a></div>
        </div>
    </div>
    <!--/.Copyright-->
</footer>
<!--/.Footer-->
<script src="assets/js/main.js"></script>
//= authmodal.html
</body>

</html>