<nav class="navbar navbar-inverse navbar-fixed-top navbar_l_and_d" role="navigation" >
    <div class="header-inner">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <ul class="mobile_menu visible-xs">
                    <li class="auth_color"><a href="#" data-toggle="modal" data-target="#authModal"><i class="fa fa-sign-in" aria-hidden="true"></i><span class="hide_smol_devices"> Вход</span></a></li>
                    <li class="auth_color"><a href="#" data-toggle="modal" data-target="#reg_modal"><i class="fa fa-user-plus" aria-hidden="true"></i> <span class="hide_smol_devices"> Регистрация</span></a></li>
                </ul>
                <a class="navbar-brand" href="/">KINOMORF</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Фильмы <span class="caret"></span> </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Фильмы</a></li>
                            <li><a href="#">Сериалы</a></li>
                            <li><a href="#">Мультфильмы</a></li>
                            <li><a href="#">Передачи и шоу</a></li>
                            <li><a href="#">Подборки</a></li>
                            <li><a href="#">Кино по подписке</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Сериалы</a></li>
                    <li><a href="#">Мультфильмы</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-h" aria-hidden="true"></i> </a>
                        <ul class="dropdown-menu pull-left">
                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i> Аниме</a></li>
                            <li><a href="#"><i class="fa fa-mobile" aria-hidden="true"></i> KINOMORF на устройствах</a></li>
                            <li><a href="#"><i class="fa fa-money" aria-hidden="true"></i> Активировать промокод</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right hidden-xs">
                    //= search.html
                    <li class="auth_color"><a href="#" data-toggle="modal" data-target="#authModal">Вход</a></li>
                    <li class="auth_color"><a href="#" data-toggle="modal" data-target="#reg_modal">Регистрация</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
        </div>
</nav>

<!-- /.navbar -->