<div class="mult_slider">
    <div class="container">
        <div class="row carousel_serial">
            <div class="col-md-12 premiere_c">
                <h3>Мультфильмы</h3>
            </div>
            
        </div>
    </div>
    <!-- Carousel_2 -->
    <div class="container">
        <div class="slider_premiere_container">
            <div id="slider_mult" class="owl-carousel owl-theme ">
            
                <div class="marime">
                    
                    <a href="#" class="over">
                    <span>HD</span>
                        <div class="premiere_overlay">
                            <div class="watch"><i class="fa fa-play" aria-hidden="true"></i></div>
                        </div>
                        <img src="assets/img/img_1.jpg" alt="alt">
                    </a>
                    <a href="#" class="title_premiere">Призрак в Доспехах</a>
                    <br>
                    <small>2017, США, Боевики</small>
                </div>
                <div class="marime">
                    
                    <a href="#" class="over">
                    <span>TS</span>
                        <div class="premiere_overlay">
                            <div class="watch"><i class="fa fa-play" aria-hidden="true"></i></div>
                        </div><img src="assets/img/img_2.jpg" alt="alt"></a>
                    <a href="#" class="title_premiere">СПАРК. Герой Вселенной</a>
                    <br>
                    <small>2017, Канада, Комедии</small>
                </div>
                <div class="marime">
                    
                    <a href="#" class="over">
                    <span>DVD</span>
                        <div class="premiere_overlay">
                            <div class="watch"><i class="fa fa-play" aria-hidden="true"></i></div>
                        </div><img src="assets/img/img_3.jpg" alt="alt"></a>
                    <a href="#" class="title_premiere">Большой</a>
                    <br>
                    <small>2017, Россия, Драмы</small>
                </div>
                <div class="marime">
                    
                    <a href="#" class="over">
                    <span>camrip</span>
                        <div class="premiere_overlay">
                            <div class="watch"><i class="fa fa-play" aria-hidden="true"></i></div>
                        </div><img src="assets/img/img_4.jpg" alt="alt"></a>
                    <a href="#" class="title_premiere">Перестрелка</a>
                    <br>
                    <small>2017, Великобритания, Франция, Боевики</small>
                </div>
                <div class="marime">
                    
                    <a href="#" class="over">
                    <span>DVD</span>
                        <div class="premiere_overlay">
                            <div class="watch"><i class="fa fa-play" aria-hidden="true"></i></div>
                        </div><img src="assets/img/img_5.jpg" alt="alt"></a>
                    <a href="#" class="title_premiere">Соседи. На тропе войны 2</a>
                    <br>
                    <small>2016, США, Комедии</small>
                </div>
                <div class="marime">
                    
                    <a href="#" class="over">
                    <span>DVD</span>
                        <div class="premiere_overlay">
                            <div class="watch"><i class="fa fa-play" aria-hidden="true"></i></div>
                        </div><img src="assets/img/img_6.jpg" alt="alt"></a>
                    <a href="#" class="title_premiere">Т2.Трейнспоттинг</a>
                    <br>
                    <small>2017, Великобритания, Драмы</small>
                </div>
                <div class="marime">
                    
                    <a href="#" class="over">
                    <span>DVD</span>
                        <div class="premiere_overlay">
                            <div class="watch"><i class="fa fa-play" aria-hidden="true"></i></div>
                        </div><img src="assets/img/img_7.jpg" alt="alt"></a>
                    <a href="#" class="title_premiere">Смурфики. Затерянная деревня</a>
                    <br>
                    <small>2017, США, Комедии</small>
                </div>
                <div class="marime">
                    
                    <a href="#" class="over">
                    <span>DVD</span>
                        <div class="premiere_overlay">
                            <div class="watch"><i class="fa fa-play" aria-hidden="true"></i></div>
                        </div><img src="assets/img/img_8.jpg" alt="alt"></a>
                    <a href="#" class="title_premiere">Мальчишник в Паттайе</a>
                    <br>
                    <small>2017, Франция, Комедии</small>
                </div>
                <div class="marime">
                    
                    <a href="#" class="over">
                    <span>DVD</span>
                        <div class="premiere_overlay">
                            <div class="watch"><i class="fa fa-play" aria-hidden="true"></i></div>
                        </div><img src="assets/img/img_9.jpg" alt="alt"></a>
                    <a href="#" class="title_premiere">Чёрная бабочка</a>
                    <br>
                    <small>2017, США, Триллеры</small>
                </div>
                <div class="marime">
                    
                    <a href="#" class="over">
                    <span>DVD</span>
                        <div class="premiere_overlay">
                            <div class="watch"><i class="fa fa-play" aria-hidden="true"></i></div>
                        </div><img src="assets/img/img_10.jpg" alt="alt"></a>
                    <a href="#" class="title_premiere">Месть яйца</a>
                    <br>
                    <small>2014, Венгрия, Зарубежные</small>
                </div>
                <div class="marime">
                    
                    <a href="#" class="over">
                    <span>ПОКУПКА</span>
                        <div class="premiere_overlay">
                            <div class="watch"><i class="fa fa-play" aria-hidden="true"></i></div>
                        </div><img src="assets/img/img_11.jpg" alt="alt"></a>
                    <a href="#" class="title_premiere">форзаж 8</a>
                    <br>
                    <small>2017, США, Япония, Боевики</small>
                </div>
                <div class="marime">
                    
                    <a href="#" class="over">
                    <span>ПОКУПКА</span>
                        <div class="premiere_overlay">
                            <div class="watch"><i class="fa fa-play" aria-hidden="true"></i></div>
                        </div><img src="assets/img/img_12.jpg" alt="alt"></a>
                    <a href="#" class="title_premiere">Пробуждение зодиака (Предзаказ)</a>
                    <br>
                    <small>2017, Канада, Триллеры</small>
                </div>
                <div class="marime">
                 
                    <a href="#" class="over">
                       <span>ПОКУПКА</span>
                        <div class="premiere_overlay">
                            <div class="watch"><i class="fa fa-play" aria-hidden="true"></i></div>
                        </div><img src="assets/img/img_13.jpg" alt="alt"></a>
                        <a href="#" class="title_premiere">Его.сабачье дело</a>
                        <br>
                        <small>2017, США, Комедии</small>
                </div>
                <div class="marime">
                    
                    <a href="#" class="over">
                     <span>ПОКУПКА</span>
                        <div class="premiere_overlay">
                            <div class="watch"><i class="fa fa-play" aria-hidden="true"></i></div>
                        </div><img src="assets/img/img_14.jpg" alt="alt"></a>
                    <a href="#" class="title_premiere">Мир.Юрского периода</a>
                    <br>
                    <small>2017, США, Приключения</small>
                </div>
                <div class="marime">
                    
                    <a href="#" class="over">
                    <span>ПОКУПКА</span>
                        <div class="premiere_overlay">
                            <div class="watch"><i class="fa fa-play" aria-hidden="true"></i></div>
                        </div><img src="assets/img/img_15.jpg" alt="alt"></a>
                    <a href="#" class="title_premiere">Невадление</a>
                    <br>
                    <small>2017, США, Триллеры1</small>
                </div>
            </div>
        </div>
    </div>
</div>