<div class="pre_footer">
    <div class="container text-center">
        <div class="col-md-4 col-sm-4 col-xs-12">
        	<div class="pre_icon">
        		<div class="pre_icon_video"></div>
        	</div>
            <h3> Кино по подписке</h3>
            <p>Эксклюзивные фильмы, сериалы
            <br>и шоу, доступные только по подписке. </p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="pre_icon">
        		<div class="pre_icon_devices"></div>
        	</div>
            <h3>На всех устройствах</h3>
            <p>Смотрите KINOMORF на iPad и iPhone,
             <br> Android, Smart TV и медиаплеерах.</p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="pre_icon">
        		<div class="pre_icon_bonus"></div>
        	</div>
            <h3>Бонусы и подарки</h3>
            <p>Смотрите любимое кино, зарабатывайте 
			<br>бонусы и получайте подарки.</p>
        </div>
    </div>
</div>