<li>
<div class="search-hint" id="searchHint">
    <div class="search-hint-inner">
        <div class="search-hint-form" >
            <form role="search" method="get" class="form" action="/">
                <div class="search-hint-placeholder"> Поиск </div>
                <input class="search-hint-input" id="searchHintInput" type="text" name="s" autocomplete="off">
                <input type="hidden" id="searchHintCategory" value="">
                <input type="hidden" id="searchHintUrl" value="/searchhint" disabled="">
                <div class="search-hint-submit">
                    <i class="icon icon--default"></i>
                    <i class="icon icon--hover"></i>
                    <i class="icon icon--active"></i></div>
                <button class="search-hint-reset" type="reset" title="Отменить">
                    <i class="icon icon--default"></i>
                    <i class="icon icon--hover"></i>
                    <i class="icon icon--active"></i></button>
            </form>
        </div>
        <div class="search-hint-results" id="searchHintResults">
        </div>
    </div>
</div>
</li>