<div class="container category">
    <div class="row">
        <div class="col-md-12">
            <h3 class="cat_title">Популярные фильмы онлайн</h3>
        </div>
        <div class="col-md-12 sort_bar">
            <div class="row">
                <div class="col-md-6 col-sm-8">
                    <ul class="nav nav-pills cat_option">
                        <li role="presentation" class="active"><a href="#">Популярные</a></li>
                        <li role="presentation"><a href="#">Последние</a></li>
                        <li role="presentation"><a href="#">Рекомендации</a></li>
                        <li role="presentation"><a href="#">Подборки</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-4 hidden-xs cat_sort">
                    <ul class="nav nav-pills navbar-right">
                        <li role="presentation" class=""><a href="#">Жанр</a></li>
                        <li role="presentation" class=""><a href="#">Год</a></li>
                        <li role="presentation" class=""><a href="#">Страна</a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>

        <div class="container cat_films">
            <div class="row">
                //= shortstory_items.html
                <!-- /.row LINE 2 -->
                //= shortstory_items.html
                <!-- /.row LINE 3 -->
                //= shortstory_items.html
            </div>
            <!-- /.row -->
        </div>
        <div class="container m_b_50  text-center">
            <a href="#" class="load_more">
                <div class="load_more_box">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </div>
                <span class="load_more_txt">
        		Загрузить ещё
        	</span>
            </a>
            <hr>
            <div class="simple_pagination">
                <ul class="pagination">
                    <li><a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>