<div class="col-xs-6  col-sm-4 col-md-2 col-lg-2 short_item">
                    <a href="#" class="short_overlay_box">
                    <span>HD</span>
                        <div class="short_overlay">
                            <div class="watch"><i class="fa fa-play" aria-hidden="true"></i></div>
                        </div>
                       <img class="thumbnail img-responsive" src="assets/img/img_1.jpg" alt="">
                    </a>
                    <div class="caption">
                        <p class="short_cat_title"><a href="#">Преступление</a></p>
                        <p class="cat_category_name">2006, США, Франция, Триллеры</p>
                    </div>
                </div>

                <div class="col-xs-6  col-sm-4 col-md-2 col-lg-2 short_item">
                    <a href="#" class="short_overlay_box">
                    <span>HD</span>
                        <div class="short_overlay">
                            <div class="watch"><i class="fa fa-play" aria-hidden="true"></i></div>
                        </div>
                       <img class="thumbnail img-responsive" src="assets/img/img_2.jpg" alt="">
                    </a>
                    <div class="caption">
                        <p class="short_cat_title"><a href="#">Плохие дети отправляются в ад</a></p>
                        <p class="cat_category_name">2006, США, Франция, Триллеры</p>
                    </div>
                </div>

                <div class="col-xs-6  col-sm-4 col-md-2 col-lg-2 short_item">
                    <a href="#" class="short_overlay_box">
                    <span>HD</span>
                        <div class="short_overlay">
                            <div class="watch"><i class="fa fa-play" aria-hidden="true"></i></div>
                        </div>
                       <img class="thumbnail img-responsive" src="assets/img/img_3.jpg" alt="">
                    </a>
                    <div class="caption">
                        <p class="short_cat_title"><a href="#">СПАРК. Герой Вселенной</a></p>
                        <p class="cat_category_name">2006, США, Франция, Триллеры</p>
                    </div>
                </div>

                <div class="col-xs-6  col-sm-4 col-md-2 col-lg-2 short_item">
                    <a href="#" class="short_overlay_box">
                    <span>HD</span>
                        <div class="short_overlay">
                            <div class="watch"><i class="fa fa-play" aria-hidden="true"></i></div>
                        </div>
                       <img class="thumbnail img-responsive" src="assets/img/img_4.jpg" alt="">
                    </a>
                    <div class="caption">
                        <p class="short_cat_title"><a href="#">Перестрелка</a></p>
                        <p class="cat_category_name">2006, США, Франция, Триллеры</p>
                    </div>
                </div>

                <div class="col-xs-6  col-sm-4 col-md-2 col-lg-2 short_item">
                    <a href="#" class="short_overlay_box">
                    <span>HD</span>
                        <div class="short_overlay">
                            <div class="watch"><i class="fa fa-play" aria-hidden="true"></i></div>
                        </div>
                       <img class="thumbnail img-responsive" src="assets/img/img_5.jpg" alt="">
                    </a>
                    <div class="caption">
                        <p class="short_cat_title"><a href="#">Соседи. На тропе войны 2</a></p>
                        <p class="cat_category_name">2006, США, Франция, Триллеры</p>
                    </div>
                </div>

                <div class="col-xs-6  col-sm-4 col-md-2 col-lg-2 short_item">
                    <a href="#" class="short_overlay_box">
                    <span>HD</span>
                        <div class="short_overlay">
                            <div class="watch"><i class="fa fa-play" aria-hidden="true"></i></div>
                        </div>
                       <img class="thumbnail img-responsive" src="assets/img/img_6.jpg" alt="">
                    </a>
                    <div class="caption">
                        <p class="short_cat_title"><a href="#">Т2.Трейнспоттинг</a></p>
                        <p class="cat_category_name">2006, США, Франция, Триллеры</p>
                    </div>
                </div>