<div class="container category cat_sidebar">
    <div class="row">
        <div class="col-md-9">
            <div class="col-md-12">
                <h3 class="cat_title">Популярные фильмы онлайн</h3>
            </div>
            <div class="col-md-12 sort_bar">
                <div class="row">
                    <div class="col-md-8 col-sm-8">
                        <ul class="nav nav-pills cat_option">
                            <li role="presentation" class="active"><a href="#">Популярные</a></li>
                            <li role="presentation"><a href="#">Последние</a></li>
                            <li role="presentation"><a href="#">Подборки</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-4 hidden-xs cat_sort">
                        <ul class="nav nav-pills navbar-right">
                            <li role="presentation" class=""><a href="#">Жанр</a></li>
                            <li role="presentation" class=""><a href="#">Год</a></li>
                            <li role="presentation" class=""><a href="#">Страна</a></li>
                        </ul>
                    </div>
                </div>
                <hr>
            </div>
            <div class="cat_films">
                <div class="row">
                    //= shortstory_items_navbar.html
                    <!-- /.row LINE 2 -->
                    //= shortstory_items_navbar.html
                    <!-- /.row LINE 3 -->
                    //= shortstory_items_navbar.html
                </div>
                <!-- /.row -->
            </div>
            <div class="text-center">
                <a href="#" class="load_more">
                    <div class="load_more_box">
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </div>
                    <span class="load_more_txt">
                    Загрузить ещё
                </span>
                </a>
                <hr>
                <div class="simple_pagination">
                    <ul class="pagination">
                        <li><a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Sidebar-->
        <div class="col-md-3 sidebar right-side hidden-sm hidden-xs">
            <div class="col-md-12">
                <h3 class="sidebar_title">Топ фильмов</h3>
                <div class="slider_premiere_container">
                    <div id="sidebar_top_films" class="owl-carousel owl-theme ">
                        <div class="marime">
                            <a href="#" class="over">
                    <span>HD</span>
                        <div class="premiere_overlay">
                            <div class="watch"><i class="fa fa-play" aria-hidden="true"></i></div>
                        </div>
                        <img src="assets/img/img_1.jpg" alt="alt">
                    </a>
                            <a href="#" class="title_premiere">Призрак в Доспехах</a>
                            <br>
                            <small>2017, США, Боевики</small>
                        </div>
                        <div class="marime">
                            <a href="#" class="over">
                    <span>TS</span>
                        <div class="premiere_overlay">
                            <div class="watch"><i class="fa fa-play" aria-hidden="true"></i></div>
                        </div><img src="assets/img/img_2.jpg" alt="alt"></a>
                            <a href="#" class="title_premiere">СПАРК. Герой Вселенной</a>
                            <br>
                            <small>2017, Канада, Комедии</small>
                        </div>
                        <div class="marime">
                            <a href="#" class="over">
                    <span>DVD</span>
                        <div class="premiere_overlay">
                            <div class="watch"><i class="fa fa-play" aria-hidden="true"></i></div>
                        </div><img src="assets/img/img_3.jpg" alt="alt"></a>
                            <a href="#" class="title_premiere">Большой</a>
                            <br>
                            <small>2017, Россия, Драмы</small>
                        </div>
                    </div>
                </div>
                <hr>
            </div>

            <div class="col-md-12">
                <nav class="category_link">
                    <ul class="genre">
                        <li><a href="/anime/" title="Аниме">Аниме</a></li>
                        <li><a href="/biographii/" title="Биография">Биография</a></li>
                        <li><a href="/boevik/" title="Боевики">Боевики</a></li>
                        <li><a href="/vestern/" title="Вестерн">Вестерн</a></li>
                        <li><a href="/voennyy/" title="Военные">Военные</a></li>
                        <li><a href="/detektiv/" title="Детективы">Детективы</a></li>
                        <li><a href="/detskye/" title="Детские">Детские</a></li>
                        <li><a href="/dokumental/" title="Документальные">Документальные</a></li>
                        <li><a href="/drama/" title="Драмы">Драмы</a></li>
                        <li><a href="/istoria/" title="Исторические">Исторические</a></li>
                        <li><a href="/katastrofy/" title="Катастрофы">Катастрофы</a></li>
                        <li><a href="/komedia/" title="Комедии">Комедии</a></li>
                        <li><a href="/kriminal/" title="Криминал">Криминал</a></li>
                        <li><a href="/melodrama/" title="Мелодрамы">Мелодрамы</a></li>
                        <li><a href="/multik/" title="Мультфильмы">Мультфильмы</a></li>
                        <li><a href="/mjuzikly/" title="Мюзиклы">Мюзиклы</a></li>
                        <li><a href="/mistika/" title="Мистика">Мистика</a></li>
                        <li><a href="/prikluch/" title="Приключения">Приключения</a></li>
                        <li><a href="/semeinyi/" title="Семейные">Семейные</a></li>
                        <li><a href="/sports/" title="Спортивные">Спортивные</a></li>
                        <li><a href="/triller/" title="Триллеры">Триллеры</a></li>
                        <li><a href="/ujas/" title="Ужасы">Ужасы</a></li>
                        <li><a href="/fantastika/" title="Фантастика">Фантастика</a></li>
                        <li><a href="/fentezy/" title="Фентези">Фентези</a></li>
                        <li><a href="/18plus/" title="Фильмы для взрослых">Фильмы для взрослых</a></li>
                    </ul>
                </nav>
                <hr>
            </div>

            <div class="col-md-12">
<script type="text/javascript" src="//vk.com/js/api/openapi.js?146"></script>

<!-- VK Widget -->
<div id="vk_groups"></div>
<script type="text/javascript">
VK.Widgets.Group("vk_groups", {mode: 3, width: "235", color1: 'fff', color3: '00ADA5'}, 20003922);
</script>
            </div>

        </div>
        <!-- Sidebar-->
    </div>

</div>