<div class="container single_sidebar">
    <div class="row">
        <div class="col-md-9">

<div class=" main_of">
  <div class="row">
    <div class="col-md-9 personal_m_top">
      <h2>Конг: Остров черепа</h2>
      <span>Kong: Skull Island</span>
    </div>

         <div class="col-md-3 text-right personal_m_top_2">
            <a href="#">Смотреть позже <i class="fa fa-calendar-plus-o" aria-hidden="true"></i></a>
         </div>
  </div>
</div>

<div class=" main_of_2">
  <div class="row">
    <div class="col-md-4 film_copert">
       <img src="assets/img/kong.jpg" alt="alt">
       <h5>ПОКУПКА</h5>
    </div>

    <div class="col-md-8">
         <div class="video_player"><!-- Right top Player  -->
                    <!-- 4:3 aspect ratio -->
           <div class="ifrme_video">
            <iframe  height="370px" width="100%" class="embed-responsive-item" src="https://www.youtube.com/embed/ycOP4wI3JUM" allowfullscreen></iframe>
           </div> 
           
        </div>
    </div>
  </div>
</div>


<!--***** Left-Part******* -->
<div class=" personal_body_container">
  <div class="row">
    <div class="col-md-4">
      <button type="button" class="btn btn-success"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 1210</button>
      <button type="button" class="btn btn-danger"><i class="fa fa-thumbs-down" aria-hidden="true"></i> 222</button>
      <h4>Рейтинг: <a href="#"><strong>6.4</strong><small>КиноПоиск</small></a> <strong>6.8</strong> <small>IMDb</small></h4>

    <div class="infoi">
        <div class="infoi_title">
          <h4>Год:</h4>
             <div class="infoi_content">
              <a href="#">2017</a>
             </div>
        </div>

        <div class="infoi_title">
          <h4>Страна:</h4>
             <div class="infoi_content">
              <a href="#">США</a>
             </div>
        </div>

        <div class="infoi_title">
          <h4>Жанр:</h4>
             <div class="infoi_content">
              <a href="#">Боевики,</a>
              <a class="second_a" href="#">Фантастика,</a>
              <br>
              <a class="third_a" href="#">Зарубежные </a>
             </div>
        </div>

        <div class="infoi_title">
          <h4>Время:</h4>
             <div class="infoi_content">
                <span>01:53:28</span>
             </div>
        </div>

        <div class="infoi_title">
          <h4>Возраст:</h4>
             <div class="infoi_content">
                <span>12+</span>
             </div>
        </div>

        <div class="infoi_title">
          <h4>Качество:</h4>
             <div class="infoi_content">
                <span>FullHD</span>
             </div>
        </div>

        <div class="infoi_title">
          <h4 class="indidual_class">Перевод:</h4>
             <div class="infoi_content">
                <span>Русский, Украинский,<br>Английский</span>
             </div>
        </div>

        <div class="infoi_title">
          <h4 class="indidual_class_2">Субтитры:</h4>
             <div class="infoi_content">
                <span>Русский, Русский<br>(форсированные)</span>
             </div>
        </div>
    </div>

          <div class="devices_s">
                    <h4>Доступно на устройствах</h4>
                         <ul>
                            <li class="apple"><a href="#"><i class="fa fa-apple" aria-hidden="true"></i><small>IOS</small></a></li>
                            <li class="android"><a href="#"><i class="fa fa-android" aria-hidden="true"></i><small>Android</small></a></li>
                            <li class="tv"><a href="#"><i class="fa fa-television" aria-hidden="true"></i><small>Smart TV</small></a></li>
                         </ul>
                  </div>

         <div class="share_btn">
               <button type="button" class="btn btn-default"><i class="fa fa-share-alt" aria-hidden="true"></i> Поделится</button>
         </div>

              <div class="social_links">
                  <button type="button" class="btn btn-primary l_facebook"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Нравится 2</button>
                                    <br>
                                    <button type="button" class="btn btn-primary l_vk"><i class="fa fa-vk" aria-hidden="true"></i> | <small class="l_heart"><i class="fa fa-heart" aria-hidden="true"></i></small></button>
                                    <br>
                                    <button type="button" class="btn btn-info l_tw"><i class="fa fa-twitter" aria-hidden="true"></i> Твитнуть</button>
                                    <br>
                                    <button type="button" class="btn btn-default l_gplus"><i class="fa fa-google-plus" aria-hidden="true"></i></button>
              </div>
    </div>







<!-- Right-Part -->
    <div class="col-md-8">
       <h3>Сюжет</h3>
      <article>
         <p>
                     Событие разворачиваются в 1973 году.
                      Геолог Билл Ранда становится инициатором экспедиции на остров в Тихом океане.
                         О месте известно только то, что оно полно аномалий и полезных ископаемых.
                          Холодная война в разгаре, поэтому изучить объект крайне важно,
                             пока он не попадет в поле зрения советского спутника.
                              Экспедиция снаряжена, и вскоре ее участники убедились,
                                 что легенды описывают лишь малую часть ужасов острова Черепа.
                                  Домой вернется не каждый.
                    </p>

         <p>
                     Фильм Конг: Остров черепа продолжил франшизу Monster Verse,
                      возведя ее в ранг очередной киновселенной.
                         Является совместным продуктом студий Warner Bros и Legendary Pictures.
                          В сюжете картины гигантская обезьяна Конг — не единственный монстр и не столь выраженный протагонист.
                             Положительные отзывы заслужили экшн-сцены и визуальные эффекты.
                              Усиливает впечатление от просмотра музыка Генри Джекмана.
                    </p>

         <p>
                     Исполнительский состав в представлении не нуждается.
                       Легендарный Сэмюэл Л. Джексон воплотил старого армейского полковника.
                          Джон Гудман сыграл геолога, инициатора экспедиции.
                             В роль капитана Конрада, которому в фильме отведена функция главного крутого парня,
                              пришлось вживаться британскому актеру Тому Хиддлстону.
                                 Роль главного женского персонажа — фотографа Мейсон Уивер досталась оскароносной Бри Ларсен.
                 </p>
      </article>

        <div class="inside_col_md">
            <div class="col-md-12">
                 <h5>Кадры из фильма</h5>
            </div>

                <div class="col-md-3">
                    <button data-toggle="modal" data-target="#Photo_Carousel"><img src="assets/img/cadre_din_filme_1.jpg" alt=""></button>
                </div>

                <div class="col-md-3">
                    <button data-toggle="modal" data-target="#Photo_Carousel"><img src="assets/img/cadre_din_filme_2.jpg" alt=""></button>
                </div>

                <div class="col-md-3">
                    <button data-toggle="modal" data-target="#Photo_Carousel"><img src="assets/img/cadre_din_filme_3.jpg" alt=""></button>
                </div>

                <div class="col-md-3">
                    <button data-toggle="modal" data-target="#Photo_Carousel"><img src="assets/img/cadre_din_filme_4.jpg" alt=""></button>
                </div>

        </div>

                     <!-- Modal-Photo-Carousel -->

                    <div class="modal fade" id="Photo_Carousel" tabindex="-1" role="dialog" aria-label="myModalLabel">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content personal_modal">

        <!-- Carusel-7 -->
        <div class="slider_container">
            <div id="carusel_7" class="owl-carousel owl-theme personal_owl_5">

                    <div class="">
                        <img src="assets/img/cadre_din_filme_1_XX.jpg" alt="alt">
                    </div>

                    <div class="">
                        <img src="assets/img/cadre_din_filme_2_XX.jpg" alt="alt">
                    </div>

                    <div class="">
                        <img src="assets/img/cadre_din_filme_3_XX.jpg" alt="alt">
                    </div>

                    <div class="">
                        <img src="assets/img/cadre_din_filme_4_XX.jpg" alt="alt">
                    </div>

                    <div class="">
                        <img src="assets/img/cadre_din_filme_5_XX.jpg" alt="alt">
                    </div>

                    <div class="">
                        <img src="assets/img/cadre_din_filme_6_XX.jpg" alt="alt">
                    </div>

                    <div class="">
                        <img src="assets/img/cadre_din_filme_7_XX.jpg" alt="alt">
                    </div>

                    <div class="">
                        <img src="assets/img/cadre_din_filme_8_XX.jpg" alt="alt">
                    </div>

                    <div class="">
                        <img src="assets/img/cadre_din_filme_9_XX.jpg" alt="alt">
                    </div>

        </div>

                        </div><!-- /.modal-content -->
                      </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
     </div><!-- Modal carusel  -->

         <!-- Tab-Section -->

         <div class="all_modal">
           <!-- Навигационные вкладки -->
           <ul class="nav nav-tabs" role="tablist">
             <li role="presentation" class="active"><a href="#actors" aria-controls="actors" role="tab" data-toggle="tab">В ролях</a></li>
             <li role="presentation"><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">Отзывы 40</a></li>
           </ul>

           <!-- Вкладки панелей -->
           <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="actors"> <!--В ролях -->
                 <div class="row">
                      <div class="col-md-3">
                                <h4>В ролях</h4>
                 <ul>
                    <li><a href="assets/img/diana.jpg" class="diana" rel="diana.jpg" id="diana">Кори Хоукинс</a></li>
                    <li><a href="#">Джейсон Митчелл</a></li>
                    <li><a href="#">Бри Ларсон</a></li>
                    <li><a href="#">Том Хиддлстон</a></li>
                    <li><a href="#">Сэмюэл Л. Джексон</a></li>
                    <li><a href="#">Тоби Кеббелл</a></li>
                    <li><a href="#">Джон Си Райли</a></li>
                 </ul>
                            </div>

                      <div class="col-md-3">
                                <h4>Режисcер</h4>
                <ul>
                    <li><a href="#">Джордан Вот-Робертс</a></li>
                </ul>
                            </div>

                      <div class="col-md-3">
                                <h4>Сценарий</h4>
                <ul>
                    <li><a href="#">Макс Боренштейн</a></li>
                    <li><a href="#">Дерек Коннолли</a></li>
                    <li><a href="#">Джон Гэйтинс</a></li>
                </ul>
                            </div>

                      <div class="col-md-3">
                                <h4>Продюсеры</h4>
                <ul>
                    <li><a href="#">Джон Дж. Джашни</a></li>
                    <li><a href="#">Мэри Пэрент</a></li>
                    <li><a href="#">Томас Тулл</a></li>
                </ul>
                            </div>
                 </div>
             </div>

              <div role="tabpanel" class="tab-pane auth_reviews" id="reviews"> <!-- Отзывы -->
             <p>Для того чтобы оставить свой отзыв,
                             вам нужно <a data-toggle="modal" data-target="#personal_modal" href="#">войти</a> или
                             <a data-toggle="modal" data-target="#personal_modal_2" href="#">зарегистрироваться</a>
                         </p>

                         <div class="persons_thoughts">
                               <div class="person_container">
                   <img src="assets/img/person_1.jpg" alt="..." class="img-rounded">
                                     <h4>Pojoga Cornel</h4>
                                     <span>31 июля 2017 в 17:06</span>
                                     <div class="text_1">
                                         <span>Filmu ii super, pun nota 8,5<span>
                                     </div>
                 </div>

                                 <br>

                                 <div>
                     <img src="assets/img/person_2.jpg" alt="..." class="img-rounded">
                                     <h4>Yana</h4>
                                     <span>31 июля 2017 в 00:44</span>
                                     <div class="text_1">
                                         <span>Не очікувала,але сподобався. ;)<span>
                                     </div>
                                 </div>

                                 <br>

                                 <div>
                     <img src="assets/img/person_3.jpg" alt="..." class="img-rounded">
                                     <h4>natik0207</h4>
                                     <span>30 июля 2017 в 14:23</span>
                                     <div class="text_1">
                                         <span>
                                             Отличный фильм для субботнего вечера! Всё есть, экшн,
                                             красивая картинка, тема для размышлений!
                                            <span>
                                     </div>
                                 </div>

                                 <br>

                                 <div>
                     <img src="assets/img/person_4.jpg" alt="..." class="img-rounded">
                                     <h4>vmvhome</h4>
                                     <span>31 июля 2017 в 17:06</span>
                                     <div class="text_1">
                                         <span>
                                             Фильм хороший,
                                             наверное в первые было интересно смотреть на экосистему острова и хорошо ,
                                             что конг не поплыл за бабой на большую землю.
                                            <span>
                                     </div>
                                 </div>

                                 <br>

                                 <div>
                     <img src="assets/img/person_5.jpg" alt="..." class="img-rounded">
                                     <h4>solomon</h4>
                                     <span> 22 июля 2017 в 21:16</span>
                                     <div class="text_1">
                                         <span>фильм надо смотреть, впечатление обалденное<span>
                                     </div>
                                 </div>

                                 <br>

                                 <div>
                     <img src="assets/img/person_6.gif" alt="..." class="img-rounded">
                                     <h4>Orest Bodnar</h4>
                                     <span> 21 июля 2017 в 13:47</span>
                                     <div class="text_1">
                                         <span>фільм ефектний, вартий того щоб один раз подивитись<span>
                                     </div>
                                 </div>

                                 <br>

                                 <div>
                     <img src="assets/img/person_7.gif" alt="..." class="img-rounded">
                                     <h4>BUTCH</h4>
                                     <span>21 июля 2017 в 07:49</span>
                                     <div class="text_1">
                                         <span>
                                             не ожидал, но фильм понравился.
                                              Есть история и сюжет. Интересно было посмотреть.
                                         <span>
                                     </div>
                                 </div>

                                 <br>

                                 <div>
                     <img src="assets/img/person_8.jpg" alt="..." class="img-rounded">
                                     <h4>Yevhenii Dushevskyi</h4>
                                     <span>17 июля 2017 в 09:21</span>
                                     <div class="text_1">
                                         <span>
                                             Фильм маленько туповат особенно когда идут спасать Конга
                       Одним словом потратил зря деньги и время!
                                         <span>
                                     </div>
                                 </div>

                                 <br>

                                 <div>
                     <img src="assets/img/person_9.jpg" alt="..." class="img-rounded">
                                     <h4>Михаил Ласточкин</h4>
                                     <span>14 июля 2017 в 15:23</span>
                                     <div class="text_1">
                                         <span>
                                             Отличный приключенческий фильм который стоит посмотреть.
                                             Ведь нынче очень сложно найти достойное кино,
                                             те же трансформеры набор штампованных шлаков из заезженных блокбастеров
                                             и непристойным юмором в добавок. Вот так вот 2 обзора в одном...))
                                         <span>
                                     </div>
                                 </div>

                                 <br>

                                 <div>
                     <img src="assets/img/person_10.jpg" alt="..." class="img-rounded">
                                     <h4>guly</h4>
                                     <span>14 июля 2017 в 01:31</span>
                                     <div class="text_1">
                                         <span>
                                             Очень понравился фильм!!! Прям круто круто!!!
                                             Люблю такую фантастику!! Можно смотреть и не один раз! Рекомендую!!!!
                                         <span>
                                     </div>
                                 </div>

                                 <br>

                                 <div>
                     <img src="assets/img/person_11.jpg" alt="..." class="img-rounded">
                                     <h4>Александр</h4>
                                     <span>13 июля 2017 в 17:12</span>
                                     <div class="text_1">
                                         <span>
                                             Классный фильм, очень понравился! Один минус в том, что как и ниже писали,
                                              что некоторые сцены 4:3, некоторые 16:9. Не то что-бы много, но все это заметно:)
                                         <span>
                                     </div>
                                 </div>
                         </div>
             </div>

           </div>
         </div>


  </div>
</div>
</div>

<!-- Part with Films -->
<div class="person_films">
    <div class="row">
        <div class="col-md-12">
            <div class="particular_2">
                 <span>Что еще посмотреть?</span>
         </div>

       //= shortstory_items.html
        </div>
    </div>
</div>



<div class=" person_films_2">
    <div class="row">
        <div class="col-md-12">
            <div class="particular_2">
                 <span>Выбор KINOMORF</span>
         </div>

         //= shortstory_items.html
        </div>
    </div>
</div>

    </div>


        <!-- Sidebar-->
        <div class="col-md-3 sidebar right-side hidden-sm hidden-xs">
            <div class="col-md-12">
                <h3 class="sidebar_title">Топ фильмов</h3>
                <div class="slider_premiere_container">
                    <div id="sidebar_top_films" class="owl-carousel owl-theme ">
                        <div class="marime">
                            <a href="#" class="over">
                    <span>HD</span>
                        <div class="premiere_overlay">
                            <div class="watch"><i class="fa fa-play" aria-hidden="true"></i></div>
                        </div>
                        <img src="assets/img/img_1.jpg" alt="alt">
                    </a>
                            <a href="#" class="title_premiere">Призрак в Доспехах</a>
                            <br>
                            <small>2017, США, Боевики</small>
                        </div>
                        <div class="marime">
                            <a href="#" class="over">
                    <span>TS</span>
                        <div class="premiere_overlay">
                            <div class="watch"><i class="fa fa-play" aria-hidden="true"></i></div>
                        </div><img src="assets/img/img_2.jpg" alt="alt"></a>
                            <a href="#" class="title_premiere">СПАРК. Герой Вселенной</a>
                            <br>
                            <small>2017, Канада, Комедии</small>
                        </div>
                        <div class="marime">
                            <a href="#" class="over">
                    <span>DVD</span>
                        <div class="premiere_overlay">
                            <div class="watch"><i class="fa fa-play" aria-hidden="true"></i></div>
                        </div><img src="assets/img/img_3.jpg" alt="alt"></a>
                            <a href="#" class="title_premiere">Большой</a>
                            <br>
                            <small>2017, Россия, Драмы</small>
                        </div>
                    </div>
                </div>
                <hr>
            </div>

            <div class="col-md-12">
                <nav class="category_link">
                    <ul class="genre">
                        <li><a href="/anime/" title="Аниме">Аниме</a></li>
                        <li><a href="/biographii/" title="Биография">Биография</a></li>
                        <li><a href="/boevik/" title="Боевики">Боевики</a></li>
                        <li><a href="/vestern/" title="Вестерн">Вестерн</a></li>
                        <li><a href="/voennyy/" title="Военные">Военные</a></li>
                        <li><a href="/detektiv/" title="Детективы">Детективы</a></li>
                        <li><a href="/detskye/" title="Детские">Детские</a></li>
                        <li><a href="/dokumental/" title="Документальные">Документальные</a></li>
                        <li><a href="/drama/" title="Драмы">Драмы</a></li>
                        <li><a href="/istoria/" title="Исторические">Исторические</a></li>
                        <li><a href="/katastrofy/" title="Катастрофы">Катастрофы</a></li>
                        <li><a href="/komedia/" title="Комедии">Комедии</a></li>
                        <li><a href="/kriminal/" title="Криминал">Криминал</a></li>
                        <li><a href="/melodrama/" title="Мелодрамы">Мелодрамы</a></li>
                        <li><a href="/multik/" title="Мультфильмы">Мультфильмы</a></li>
                        <li><a href="/mjuzikly/" title="Мюзиклы">Мюзиклы</a></li>
                        <li><a href="/mistika/" title="Мистика">Мистика</a></li>
                        <li><a href="/prikluch/" title="Приключения">Приключения</a></li>
                        <li><a href="/semeinyi/" title="Семейные">Семейные</a></li>
                        <li><a href="/sports/" title="Спортивные">Спортивные</a></li>
                        <li><a href="/triller/" title="Триллеры">Триллеры</a></li>
                        <li><a href="/ujas/" title="Ужасы">Ужасы</a></li>
                        <li><a href="/fantastika/" title="Фантастика">Фантастика</a></li>
                        <li><a href="/fentezy/" title="Фентези">Фентези</a></li>
                        <li><a href="/18plus/" title="Фильмы для взрослых">Фильмы для взрослых</a></li>
                    </ul>
                </nav>
                <hr>
            </div>

            <div class="col-md-12">
<script type="text/javascript" src="//vk.com/js/api/openapi.js?146"></script>

<!-- VK Widget -->
<div id="vk_groups"></div>
<script type="text/javascript">
VK.Widgets.Group("vk_groups", {mode: 3, width: "235", color1: 'fff', color3: '00ADA5'}, 20003922);
</script>
            </div>

        </div>
        <!-- Sidebar-->

</div>
</div>