<!--The film -->
<div class="container main_of">
  <div class="row">
    <div class="col-md-10 personal_m_top">
      <h2>Конг: Остров черепа</h2>
      <span>Kong: Skull Island</span>
    </div>
    <div class="col-md-2 personal_m_top_2">
      <a href="#">Смотреть позже <i class="fa fa-calendar-plus-o" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
<div class="container main_of_2">
  <div class="row">
    <div class="col-md-3 film_copert">
      <img src="assets/img/kong.jpg" alt="alt">
      
    </div>
    <div class="col-md-9">
      <div class="video_player">
        <!-- Right top Player  -->
        <!-- 4:3 aspect ratio -->
        <div class="ifrme_video">
          <iframe height="370px" width="100%" class="embed-responsive-item" src="https://www.youtube.com/embed/ycOP4wI3JUM" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<!--***** Left-Part******* -->
<div class="container personal_body_container">
  <div class="row">
    <div class="col-md-3">
      <button type="button" class="btn btn-success"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 1210</button>
      <button type="button" class="btn btn-danger"><i class="fa fa-thumbs-down" aria-hidden="true"></i> 222</button>
      <h4>Рейтинг: <a href="#"><strong>6.4</strong><small>КиноПоиск</small></a> <strong>6.8</strong> <small>IMDb</small></h4>
      <div class="infoi">
        <div class="infoi_title">
          <h4>Год:</h4>
          <div class="infoi_content">
            <a href="#">2017</a>
          </div>
        </div>
        <div class="infoi_title">
          <h4>Страна:</h4>
          <div class="infoi_content">
            <a href="#">США</a>
          </div>
        </div>
        <div class="infoi_title">
          <h4>Жанр:</h4>
          <div class="infoi_content">
            <a href="#">Боевики,</a>
            <a class="second_a" href="#">Фантастика,</a>
            <br>
            <a class="third_a" href="#">Зарубежные </a>
          </div>
        </div>
        <div class="infoi_title">
          <h4>Время:</h4>
          <div class="infoi_content">
            <span>01:53:28</span>
          </div>
        </div>
        <div class="infoi_title">
          <h4>Возраст:</h4>
          <div class="infoi_content">
            <span>12+</span>
          </div>
        </div>
        <div class="infoi_title">
          <h4>Качество:</h4>
          <div class="infoi_content">
            <span>FullHD</span>
          </div>
        </div>
        <div class="infoi_title">
          <h4 class="indidual_class">Перевод:</h4>
          <div class="infoi_content">
            <span>Русский, Украинский,<br>Английский</span>
          </div>
        </div>
        <div class="infoi_title">
          <h4 class="indidual_class_2">Субтитры:</h4>
          <div class="infoi_content">
            <span>Русский, Русский<br>(форсированные)</span>
          </div>
        </div>
      </div>
      <div class="devices_s">
        <h4>Доступно на устройствах</h4>
        <ul>
          <li class="apple"><a href="#"><i class="fa fa-apple" aria-hidden="true"></i><small>IOS</small></a></li>
          <li class="android"><a href="#"><i class="fa fa-android" aria-hidden="true"></i><small>Android</small></a></li>
          <li class="tv"><a href="#"><i class="fa fa-television" aria-hidden="true"></i><small>Smart TV</small></a></li>
        </ul>
      </div>
      <div class="share_btn">
        <button type="button" class="btn btn-default"><i class="fa fa-share-alt" aria-hidden="true"></i> Поделится</button>
      </div>
      <div class="social_links">
      </div>
    </div>
    <!-- Right-Part -->
    <div class="col-md-9">
      <h3>Сюжет</h3>
      <article>
        <p>
          Событие разворачиваются в 1973 году. Геолог Билл Ранда становится инициатором экспедиции на остров в Тихом океане. О месте известно только то, что оно полно аномалий и полезных ископаемых. Холодная война в разгаре, поэтому изучить объект крайне важно, пока он не попадет в поле зрения советского спутника. Экспедиция снаряжена, и вскоре ее участники убедились, что легенды описывают лишь малую часть ужасов острова Черепа. Домой вернется не каждый.
        </p>
        <p>
          Фильм Конг: Остров черепа продолжил франшизу Monster Verse, возведя ее в ранг очередной киновселенной. Является совместным продуктом студий Warner Bros и Legendary Pictures. В сюжете картины гигантская обезьяна Конг — не единственный монстр и не столь выраженный протагонист. Положительные отзывы заслужили экшн-сцены и визуальные эффекты. Усиливает впечатление от просмотра музыка Генри Джекмана.
        </p>
        <p>
          Исполнительский состав в представлении не нуждается. Легендарный Сэмюэл Л. Джексон воплотил старого армейского полковника. Джон Гудман сыграл геолога, инициатора экспедиции. В роль капитана Конрада, которому в фильме отведена функция главного крутого парня, пришлось вживаться британскому актеру Тому Хиддлстону. Роль главного женского персонажа — фотографа Мейсон Уивер досталась оскароносной Бри Ларсен.
        </p>
      </article>
      <div class="inside_col_md">
        <div class="col-md-12">
          <h5>Кадры из фильма</h5>
        </div>
        <div class="col-md-3">
          <button data-toggle="modal" data-target="#Photo_Carousel"><img src="assets/img/cadre_din_filme_1.jpg" alt=""></button>
        </div>
        <div class="col-md-3">
          <button data-toggle="modal" data-target="#Photo_Carousel"><img src="assets/img/cadre_din_filme_2.jpg" alt=""></button>
        </div>
        <div class="col-md-3">
          <button data-toggle="modal" data-target="#Photo_Carousel"><img src="assets/img/cadre_din_filme_3.jpg" alt=""></button>
        </div>
        <div class="col-md-3">
          <button data-toggle="modal" data-target="#Photo_Carousel"><img src="assets/img/cadre_din_filme_4.jpg" alt=""></button>
        </div>
      </div>
      <!-- Modal-Photo-Carousel -->
      <div class="modal fade" id="Photo_Carousel" tabindex="-1" role="dialog" aria-label="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content personal_modal">
            <!-- Carusel-7 -->
            <div class="slider_container">
              <div id="carusel_7" class="owl-carousel owl-theme personal_owl_5">
                <div class="">
                  <img src="assets/img/cadre_din_filme_1_XX.jpg" alt="alt">
                </div>
                <div class="">
                  <img src="assets/img/cadre_din_filme_2_XX.jpg" alt="alt">
                </div>
                <div class="">
                  <img src="assets/img/cadre_din_filme_3_XX.jpg" alt="alt">
                </div>
                <div class="">
                  <img src="assets/img/cadre_din_filme_4_XX.jpg" alt="alt">
                </div>
                <div class="">
                  <img src="assets/img/cadre_din_filme_5_XX.jpg" alt="alt">
                </div>
                <div class="">
                  <img src="assets/img/cadre_din_filme_6_XX.jpg" alt="alt">
                </div>
                <div class="">
                  <img src="assets/img/cadre_din_filme_7_XX.jpg" alt="alt">
                </div>
                <div class="">
                  <img src="assets/img/cadre_din_filme_8_XX.jpg" alt="alt">
                </div>
                <div class="">
                  <img src="assets/img/cadre_din_filme_9_XX.jpg" alt="alt">
                </div>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
      </div>
      <!-- Modal carusel  -->
      <!-- Tab-Section -->
      <div class="all_modal">
        <!-- Навигационные вкладки -->
        <ul class="nav nav-tabs comment_tabs" role="tablist">
          <li role="presentation" class="active">
          <a href="#actors" aria-controls="actors" role="tab" data-toggle="tab">В ролях</a></li>
          <li role="presentation">
          <a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">Отзывы 3</a></li>
        </ul>
        <!-- Вкладки панелей -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="actors">
            <!--В ролях -->
            <div class="row">
              <div class="col-md-3">
                <h4>В ролях</h4>
                <ul>
                  <li><a href="assets/img/diana.jpg" class="diana" rel="diana.jpg" id="diana">Кори Хоукинс</a></li>
                  <li><a href="#">Джейсон Митчелл</a></li>
                  <li><a href="#">Бри Ларсон</a></li>
                  <li><a href="#">Том Хиддлстон</a></li>
                  <li><a href="#">Сэмюэл Л. Джексон</a></li>
                  <li><a href="#">Тоби Кеббелл</a></li>
                  <li><a href="#">Джон Си Райли</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <h4>Режисcер</h4>
                <ul>
                  <li><a href="#">Джордан Вот-Робертс</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <h4>Сценарий</h4>
                <ul>
                  <li><a href="#">Макс Боренштейн</a></li>
                  <li><a href="#">Дерек Коннолли</a></li>
                  <li><a href="#">Джон Гэйтинс</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <h4>Продюсеры</h4>
                <ul>
                  <li><a href="#">Джон Дж. Джашни</a></li>
                  <li><a href="#">Мэри Пэрент</a></li>
                  <li><a href="#">Томас Тулл</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane auth_reviews" id="reviews">
            <!-- Отзывы -->
            <p>Для того чтобы оставить свой отзыв, вам нужно <a data-toggle="modal" data-target="#personal_modal" href="#">войти</a> или
            <a data-toggle="modal" data-target="#personal_modal_2" href="#">зарегистрироваться</a>
          </p>
          <div class="persons_thoughts">
            <div class="person_container">
              <div class="row">
                <!-- Cmment-->
                      <div class="col-md-12 comment_box">
                        <div class="col-sm-1 ">
                          <div class="user-photo">
                            <img class="img-rounded" src="assets/img/person_3.jpg">
                          </div>
                        </div>
                        <div class="col-sm-11">
                          <div class="comment comment-default">
                            <div class="comment-heading">
                              <strong><h4>Yana</h4></strong> <span>31 июля 2017 в 00:44</span>
                            </div>
                            <div class="text_comment">
                              Отличный фильм для субботнего вечера! Всё есть, экшн, красивая картинка, тема для размышлений!
                            </div>
                          </div>
                        </div>
                      </div>
                <!-- Cmment-->

                <!-- Cmment-->
                      <div class="col-md-12 comment_box">
                        <div class="col-sm-1 ">
                          <div class="user-photo">
                            <img class="img-rounded" src="assets/img/person_2.jpg">
                          </div>
                        </div>
                        <div class="col-sm-11">
                          <div class="comment comment-default">
                            <div class="comment-heading">
                              <strong><h4>Yana</h4></strong> <span>31 июля 2017 в 00:44</span>
                            </div>
                            <div class="text_comment">
                             фильм надо смотреть, впечатление обалденное
                            </div>
                          </div>
                        </div>
                      </div>
                <!-- Cmment-->

                <!-- Cmment-->
                      <div class="col-md-12 comment_box">
                        <div class="col-sm-1 ">
                          <div class="user-photo">
                            <img class="img-rounded" src="assets/img/person_4.jpg">
                          </div>
                        </div>
                        <div class="col-sm-11">
                          <div class="comment comment-default">
                            <div class="comment-heading">
                              <strong><h4>Yana</h4></strong> <span>31 июля 2017 в 00:44</span>
                            </div>
                            <div class="text_comment">
                              Фильм хороший,
                                             наверное в первые было интересно смотреть на экосистему острова и хорошо ,
                                             что конг не поплыл за бабой на большую землю.
                            </div>
                          </div>
                        </div>
                      </div>
                <!-- Cmment-->


                          </div><!-- /row -->
                        </div>
                        <br>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Part with Films -->
          <div class="container person_films">
            <div class="row">
              <div class="col-md-12">
                <div class="particular_2">
                  <span>Что еще посмотреть?</span>
                </div>
                //= shortstory_items.html
              </div>
            </div>
          </div>
          <div class="container person_films_2">
            <div class="row">
              <div class="col-md-12">
                <div class="particular_2">
                  <span>Выбор KINOMORF</span>
                </div>
                //= shortstory_items.html
              </div>
            </div>
          </div>