body { margin: 0; font-size: 16px; line-height: 20px; color: #333; background-color: @body_bg; font-family: PF DinDisplay; padding-top: 50px; }

/*--- Navbars ---*/
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover { background: #ffffff; color: #30c2f2 !important; }
.dropdown-menu { border: none; }
.navbar-left { text-transform: uppercase; }
.navbar-nav>li>a { font-size: 16px; }
.navbar-left>li>a { font-weight: 600; color: #fff !important; }
.navbar-brand { font-size: 18px; line-height: 20px; font-weight: 600 !important; letter-spacing: 2.50px; text-transform: uppercase; }
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover { color: #ccc; background-color: transparent; transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1); }
li.auth_color a { color: #fff !important; }
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse { max-height: 100%; }
.modal-content.auth_modal { margin: 40px 0; border: 1px solid transparent; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background-color: #f2f2f2; outline: 0; }
.auth_modal>.modal-footer { background: #fff; padding: 10px 0px; }
.modal-footer { text-align: center; border-top: 1px solid #e5e5e5; }
.btn-auth { background-color: #00c0b5; color: #fff; display: block; margin-top: 15px; margin-bottom: 15px; padding: 12px 0 10px; border-radius: 4px; font-size: 16px; transition: all .2s; font-weight: 600; }
.btn-auth:hover { color: #ffffff; background-color: #02b1a7; }
.header-inner { position: relative; margin: 0 auto; max-width: 1600px; height: 50px; background: #2c2c2c; background: rgba(0, 0, 0, .9); }
.wrapper { margin: 0 auto; max-width: 1600px; position: relative; background: #f2f2f2; -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, .1); -moz-box-shadow: 0 0 40px rgba(0, 0, 0, .1); box-shadow: 0 0 40px rgba(0, 0, 0, .1); }
.header-inner { position: relative; margin: 0 auto; max-width: 1600px; height: 50px; background: #000000; }
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form { background: #000; }

/*--- Auth popup ---*/
.modal-content.auth_modal .modal-body, .modal-footer, modal-header { padding: 15px 30px; }
.auth_modal .modal-header { padding: 15px 30px; }
.auth_modal .checkbox label, .radio label { margin-bottom: 0; font-weight: 400; font-size: 14px; color: #a6a6a6; }
.auth_modal .modal-header { border-bottom: none; }
.auth_modal .modal-title { line-height: 24px; font-size: 24px; font-weight: 400; }
.auth_modal .form-control { height: 45px; font-size: 16px; border: 1px solid #ddd; -webkit-border-radius: 3px; -moz-border-radius: 3px; color: #333; }
.form-control:focus { border-color: #8ae6e1; outline: 0; box-shadow: none; }
.social-login-btn { margin: 15px 5px !important; width: 15%; font-size: 18px; padding: 9px 15px; }
.social-login-more { width: 45%; }
.social-google { background-color: #dc4e41; border-color: #dc4e41; }
.social-google:hover { background-color: #e9625f; border-color: #e9625f; }
.social-twitter { background-color: #55acee; border-color: #55acee; }
.social-twitter:hover { background-color: #69c8ff; border-color: #69c8ff; }
.social-facebook { background-color: #3b5998; border-color: #3b5998; }
.social-facebook:hover { background-color: #486db6; border-color: #486db6; }
.social-vk { background-color: #3b5998; border-color: #3b5998; }
.social-vk:hover { background-color: #557dab; border-color: #557dab; }
.social-ok { background-color: #ed812b; border-color: #ed812b; }
.social-ok:hover { background-color: #ff9e34; border-color: #ff9e34; }
p.authTitle { color: #a6a6a6; padding: 0; margin: 5px 0; font-size: 16px }
.auth_modal a.registerLink { font-weight: 600; cursor: pointer; color: #ff860d; }
.mt_5 { margin-top: 50px; }
.personal_register_2 { font-size: 14px; color: #a6a6a6; }
.personal_register_2 a { text-decoration: none; color: #ff860d; }

/*--- Top Slider ---*/
#sync1 .item { color: #FFF; border-radius: 3px; text-align: center; }
.owl-theme .owl-nav {    /*default owl-theme theme reset .disabled:hover links */ }
.owl-theme .owl-nav [class*='owl-'] { -webkit-transition: all .3s ease; transition: all .3s ease; }
.owl-theme .owl-nav [class*='owl-'].disabled:hover { background-color: #D6D6D6; }
#sync1.owl-theme { position: relative; }
#sync1.owl-theme .owl-next, #sync1.owl-theme .owl-prev { width: 30px; height: 55px; margin-top: -20px; position: absolute; top: 50%; }
#sync1.owl-theme .owl-prev { left: 5%; }
#sync1.owl-theme .owl-next { right: 5%; }
.owl-dots { position: absolute; bottom: 10px; down vote position: absolute; margin-left: auto; margin-right: auto; left: 0; right: 0; }

/*--- Corp--*/
.corp { margin: 0; padding: 60px 0; background: #f2f2f2; }
.corp .col-md-3.col-sm-3 >img { width: 100%; }
.corp .col-md-3.col-sm-3 { overflow: hidden; }

/*--- Premiere ---*/
.premiere { padding-top: 40px; padding-bottom: 47px; background-color: #fff; position: relative; }
.premiere_c h1 { color: #00C0B5; }
.premiere_n span { font-size: 20px; }
.premiere_u a { text-decoration: none; }
.premiere_u a i { font-size: 12px; background-color: #DDDDDD; padding: 5px; border-radius: 25px; }
.premiere_u a:hover { color: #00ADA5; }
.premiere_u a i:hover { color: #fff; background-color: #00ADA5; }

/*Premiere*/
.slider_premiere_container { margin-top: 0px; }
.marime { img { margin-bottom: 12px; border-radius: 3px; }
	span { position: absolute; font-size: 13px; right: 5px; background-color: #00ADA5; top: 5px; border-radius: 2px; padding: 5px; font-weight: 700; color: #fff; text-transform: uppercase; z-index: 99; }
	a.over { font-size: 14px; font-weight: bold; text-decoration: none; color: #000; display: block; position: relative; }
	a.title_premiere { font-size: 14px; font-weight: bold; text-decoration: none; color: #000; }
	small { font-size: 13px; color: #A6A6A6; }
}
#slider_premiere.owl-theme .owl-next, #slider_premiere.owl-theme .owl-prev { width: 30px; height: 55px; margin-top: -55px; position: absolute; top: 50%; }
#slider_premiere.owl-theme .owl-prev { left: -5%; }
#slider_premiere.owl-theme .owl-next { right: -5%; }
.carousel_premiere { margin-bottom: 30px; }
.premiere_view_all a { color: #00c0b5; font-weight: 600; text-decoration: none; }
.premiere_view_all a>i { background: #ddd; font-size: 11px; border-radius: 50%; width: 20px; height: 20px; float: right; margin-left: 10px; line-height: 22px; color: #000; text-align: center; padding-left: 3px; box-sizing: border-box; }
.premiere_view_all a:hover>i { color: #fff; background: #00ada5; }
.premiere_overlay { background: rgba(0, 0, 0, .75); text-align: center; padding: 45px 0 66px 0; opacity: 0; -webkit-transition: opacity .25s ease; -moz-transition: opacity .25s ease; height: 100%; width: 100%; position: absolute; }
.marime a:hover .premiere_overlay { opacity: 1; }
.watch { font-size: 22px; position: absolute; width: 50px; height: 50px; background: #fff; border-radius: 50%; line-height: 53px; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); padding-left: 5px; }

/*--- Films Carousel ---*/
.films_slide { padding-top: 40px; padding-bottom: 47px; background-color: transparent; position: relative; }
#slider_films.owl-theme .owl-next { width: 30px; height: 55px; margin-top: -55px; position: absolute; top: 50%; }
#slider_films.owl-theme .owl-prev { width: 30px; height: 55px; margin-top: -55px; position: absolute; top: 50%; left: -5%; }
#slider_films.owl-theme .owl-next { right: -5%; }

/*--- Serial Carousel ---*/
.serial_slide { padding-top: 40px; padding-bottom: 47px; background-color: transparent; position: relative; }
.premiere_c > h3 { color: #333; line-height: 24px; font-size: 24px; font-weight: 700; }
#slider_serial.owl-theme .owl-next { width: 30px; height: 55px; margin-top: -55px; position: absolute; top: 50%; }
#slider_serial.owl-theme .owl-prev { width: 30px; height: 55px; margin-top: -55px; position: absolute; top: 50%; left: -5%; }
#slider_serial.owl-theme .owl-next { right: -5%; }

/*--- Mult Carousel ---*/
.mult_slide { padding-top: 40px; padding-bottom: 47px; background-color: transparent; position: relative; }
.premiere_c > h3 { color: #333; line-height: 24px; font-size: 24px; font-weight: 700; }
#slider_mult.owl-theme .owl-next { width: 30px; height: 55px; margin-top: -55px; position: absolute; top: 50%; }
#slider_mult.owl-theme .owl-prev { width: 30px; height: 55px; margin-top: -55px; position: absolute; top: 50%; left: -5%; }
#slider_mult.owl-theme .owl-next { right: -5%; }

/*--- Footer ---*/
footer.fdarck { border-top: 1px solid #c9cbcb; width: 100%; background-color: #ebebeb; padding-top: 25px; }
.footer-copyright { background: #2c2c2c; background: rgba(0, 0, 0, .82); color: #aeaeae; line-height: 50px; }
ul.footer_menu { list-style: none; margin: 0; padding: 0; float: left; }
ul.footer_menu li { display: inline-block; padding: 0px 15px; }
.copy { display: inline-block; float: right; font-size: 14px; }
ul.footer_menu li:first-child { padding-left: 0px; }
ul.footer_menu > a:first-child { color: #ff860d; }
ul.footer_menu li
a { color: #fff; text-transform: uppercase; }
.copy a { color: #aeaeae; font-size: 14px; margin-left: 50px; }
li.logo_footer { color: #0c0c0b; }
li.logo_footer a { color: #ff860d !important; }
.foter_col_menu ul { list-style: none; padding: 0; }
.foter_col_menu ul li { float: none; padding: 0; font-size: 14px; color: #979797; margin: 10px 0; }
.foter_col_menu ul li a { display: inline; padding: 0; color: #979797; text-decoration: none; }
.foter_col_menu h5 { margin-bottom: 20px; font-size: 14px; font-weight: 600; }
.foter_col_menu ul li a:hover { color: #000; }
.social-icons .fa { font-size: 1.4em; }

/*Change icons circle size and color here*/
.social-icons .fa { width: 40px; height: 40px; line-height: 40px; text-align: center; color: #FFF; color: rgba(255, 255, 255, 0.8); -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
.social-icons.icon-circle .fa { border-radius: 50%; }
.social-icons.icon-rounded .fa { border-radius: 5px; }
.social-icons.icon-flat .fa { border-radius: 0; }
.social-icons .fa:hover, .social-icons .fa:active { color: #FFF; }
.social-icons.icon-zoom .fa:hover, .social-icons.icon-zoom .fa:active { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); }
.social-icons.icon-rotate .fa:hover, .social-icons.icon-rotate .fa:active { -webkit-transform: scale(1.1) rotate(360deg); -moz-transform: scale(1.1) rotate(360deg); -ms-transform: scale(1.1) rotate(360deg); -o-transform: scale(1.1) rotate(360deg); transform: scale(1.1) rotate(360deg); }
.social-icons .fa-adn { background-color: #504e54; }
.social-icons .fa-apple { background-color: #aeb5c5; }
.social-icons .fa-android { background-color: #A5C63B; }
.social-icons .fa-bitbucket, .social-icons .fa-bitbucket-square { background-color: #003366; }
.social-icons .fa-bitcoin, .social-icons .fa-btc { background-color: #F7931A; }
.social-icons .fa-odnoklassniki, .social-icons .fa-ok { background-color: #F7931A; }
.social-icons .fa-css3 { background-color: #1572B7; }
.social-icons .fa-dribbble { background-color: #F46899; }
.social-icons .fa-dropbox { background-color: #018BD3; }
.social-icons .fa-facebook, .social-icons .fa-facebook-square { background-color: #3C599F; }
.social-icons .fa-flickr { background-color: #FF0084; }
.social-icons .fa-foursquare { background-color: #0086BE; }
.social-icons .fa-github, .social-icons .fa-github-alt, .social-icons .fa-github-square { background-color: #070709; }
.social-icons .fa-google-plus, .social-icons .fa-google-plus-square { background-color: #CF3D2E; }
.social-icons .fa-html5 { background-color: #E54D26; }
.social-icons .fa-instagram { background-color: #A1755C; }
.social-icons .fa-linkedin, .social-icons .fa-linkedin-square { background-color: #0085AE; }
.social-icons .fa-linux { background-color: #FBC002; color: #333; }
.social-icons .fa-maxcdn { background-color: #F6AE1C; }
.social-icons .fa-pagelines { background-color: #241E20; color: #3984EA; }
.social-icons .fa-pinterest, .social-icons .fa-pinterest-square { background-color: #CC2127; }
.social-icons .fa-renren { background-color: #025DAC; }
.social-icons .fa-skype { background-color: #01AEF2; }
.social-icons .fa-stack-exchange { background-color: #245590; }
.social-icons .fa-stack-overflow { background-color: #FF7300; }
.social-icons .fa-trello { background-color: #265A7F; }
.social-icons .fa-tumblr, .social-icons .fa-tumblr-square { background-color: #314E6C; }
.social-icons .fa-twitter, .social-icons .fa-twitter-square { background-color: #32CCFE; }
.social-icons .fa-vimeo-square { background-color: #229ACC; }
.social-icons .fa-vk { background-color: #375474; }
.social-icons .fa-weibo { background-color: #D72B2B; }
.social-icons .fa-windows { background-color: #12B6F3; }
.social-icons .fa-xing, .social-icons .fa-xing-square { background-color: #00555C; }
.social-icons .fa-youtube, .social-icons .fa-youtube-play, .social-icons .fa-youtube-square { background-color: #C52F30; }
.list-unstyled { padding-left: 0; list-style: none; }
.list-inline li { display: inline-block; padding-right: 5px; padding-left: 5px; margin-bottom: 10px; }

/*--- Prefooter ---*/
.pre_footer { background: #fff; padding: 110px 0px; }
div.pre_icon_video { width: 58px; position: relative; height: 58px; background-image: url(../img/promo-svod-58x58.png); background-position: -62px -2px; background-size: 122px 62px; display: inline-block; }
div.pre_icon_devices { position: relative; background-image: url(../img/promo-devices-72x52.png); display: inline-block; width: 72px; height: 52px; background-position: -76px -2px; background-size: 150px 56px; }
div.pre_icon_bonus { position: relative; background-image: url(../img/promo-loyalty-78x50.png); display: inline-block; width: 78px; height: 50px; background-position: -82px -2px; background-size: 162px 54px; }
.pre_icon { margin-bottom: 10px; height: 64px; }
.pre_footer h3 { margin: 0; }

/*---- Category page ---*/
.box, .box .navbar .header-inner { max-width: 1210px; }
h3.cat_title { margin: 50px 0 25px; line-height: 24px; font-size: 24px; font-weight: 700; }

.cat_option li a { cursor: pointer; color: #333; text-decoration: none; -webkit-transition: color .11s; -moz-transition: color .11s; -ms-transition: color .11s; -o-transition: color .11s; transition: color .11s; font-weight: 600; }
.cat_option li.active a { background: transparent; color: #30c2f2; }
.cat_option li.active a:hover { background: transparent; color: #32ccfe; }
.cat_option li.active a:focus { background: transparent; color: #32ccfe; }
.cat_option li a:hover { background: transparent; color: #30c2f2; }
.cat_sort li a { cursor: pointer; color: #a6a6a6; text-decoration: none; font-weight: 400; }
.cat_sort li a:hover { background: transparent; color: #30c2f2; }
.sort_bar { margin: 0 0 10px; }
.cat_films { margin-bottom: 45px; }
.short_overlay { background: rgba(0, 0, 0, .75); text-align: center; padding: 45px 0 66px 0; opacity: 0; -webkit-transition: opacity .25s ease; -moz-transition: opacity .25s ease; height: 100%; width: 100%; position: absolute; border-radius: 3px; }
a.short_overlay_box:hover .short_overlay { opacity: 1; }
a.short_overlay_box { display: block; position: relative; }
a.short_overlay_box span { position: absolute; font-size: 13px; right: 10px; top: 10px; border-radius: 2px; padding: 5px; z-index: 99; background-color: #00ADA5; color: #fff; font-weight: 900; }
p.short_cat_title { margin: 2px 0; font-size: 16px; font-weight: 600; }
p.short_cat_title a { color: #333; }
p.short_cat_title a:hover { color: #00b0eb; text-decoration: none; }
p.cat_category_name { margin: 2px 0; line-height: 18px; font-size: 14px; color: #a6a6a6; }
.short_item  .thumbnail { padding: 0; margin-bottom: 10px; }
.short_item { margin-bottom: 15px; }
a.short_overlay_box:hover + .caption .short_cat_title a { color: #00b0eb; }
.short_item .caption { height: 80px; overflow: hidden; }
.m_b_50 { margin-bottom: 50px; }
.load_more_box { position: relative; display: block; margin: 0 auto 5px; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; width: 40px; height: 40px; background-color: #ccc; }
.load_more_box i { position: absolute; top: 50%; left: 50%; display: block; margin: -13px 0 0 -9px; font-size: 30px; color: #fff; }
span.load_more_txt { color: #bfbfbf; }
a.load_more { text-decoration: none; }
a.load_more:hover span.load_more_txt { color: #00b0eb; }
a.load_more:hover .load_more_box { background: #00b0eb; }
.simple_pagination .pagination>li>a, .pagination>li>span { border-radius: 50% !important; margin: 0 5px; background-color: transparent; border-color: transparent; padding: 6px 10px; color: #333; font-weight: 900; }
.simple_pagination .pagination>li.active a { color: #ccc; background: transparent; border: transparent; }
.simple_pagination .pagination>li>a:hover { color: #00b0eb; }
.simple_pagination .pagination>li.active a:hover { color: #ccc; }
hr { border-top: 1px solid #ddd; }
.simple_pagination .pagination { margin-top: 0; }


/*-- Cat sidebar ---*/
.sidebar{
        border-left: 1px solid #ddd;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}

.cat_sidebar {
    position: relative;
}